 * {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
 }

 h3 {
     font-size: medium;
 }

.underline {
    text-decoration: underline;
}

 .header {
     display: block;
     position: relative;
     text-align: center;
     margin-top: 5px;
 }

 .header ul {
    display: inline-block;
    position: absolute;
    background-color: orangered;
    left: 17%;
    right: 17%;
    padding: 3px;
 }

 .header li {
     display: inline-block;
     border: white 2px solid;
     width: 210px;
     height: 30px;
     padding-top: 5px;
     color: white;
 }

 .header li:hover {
     background-color: white;
     color: orangered;
 }

 .main {
     display: block;
     position: relative;
     top: 50px;
     border: red 2px solid;
     padding-top: 10px;
     padding-right: 10px;
     padding-left: 10px;
 }

 .main .intro {
     display: block;
     border: blue 2px solid;
 }

 .main .intro h1 {
     position: relative;
     text-align: center;
     margin-top: 80px;
 }

 .main .intro .my-pic {
     float: left;
     width: 200px;
     height: 200px;
     border-radius: 50%;
     border: orangered 3px double;  
 }

 .main .intro .personal-statemet {
     display: block;
     border: green 2px solid;
     margin-top: 95px;
 }

.main .intro .personal-statemet h3 {
    text-align: center;
    padding-bottom: 10px;
}

.main .intro .personal-statemet p {
    font-style: oblique;
    text-align: justify;
}
